
  <!--------------------------------------- Footer ---------------------------------------------------->
  <div class="container-fluid"> 
    <!-- Fila 1 de contenido -->
    <div class="row g-4">
      <!-- Columna 1: Marca -->
      <div class="col-12 col-md-3">
        <!-- Contenedor del Logo del footer -->
        <div class="footer-logo-header mb-3">
          <img src="../../assets/Images/logo.png" alt="La Tiendita de la Yeya" class="img-fluid logo-superior">
        </div>
        <p class="footer-texto">Elevando tu estilo diario con piezas de bisutería temática, finamente elaboradas y diseñadas para destacar.</p>
      </div>
      <!-- Columna 2: Tienda -->
      <div class="col-6 col-md-2 offset-md-1">
        <h4 class="footer-subtitulo">Tienda</h4>
        <ul class="footer-enlaces p-0">
          <li><a href="4_Catalog-Items.html">Todas las Colecciones</a></li>
          <li><a href="4_Catalog-Items.html">Anillos</a></li>
          <li><a href="4_Catalog-Items.html">Collares</a></li>
          <li><a href="4_Catalog-Items.html">Pulseras</a></li>
        </ul>
      </div>
      <!-- Columna 3: Compañía -->
      <div class="col-6 col-md-2">
        <h4 class="footer-subtitulo">Compañía</h4>
        <ul class="footer-enlaces p-0">
          <li><a href="2_About.html">Nosotros</a></li>
          <li><a href="3_Contact.html">Contacto</a></li>
          <!-- <li><a href="9_Admin-Login.html">Prueba pág de Admin</a></li> -->
          <!-- <li><a href="5_Product-Detail.html">Prueba pág de detalle del producto</a></li> -->
          <li><a href="7_Extra.html">Prueba todas las otras pág</a></li>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Términos de Servicio</a></li>
        </ul>
      </div>
      <!-- Columna 4: Boletín -->
      <div class="col-12 col-md-4">
        <h4 class="footer-subtitulo">Boletín</h4>
        <p class="footer-texto">Suscríbete para recibir actualizaciones y ofertas exclusivas.</p>
        <div class="d-flex flex-wrap gap-2 mb-3 align-items-center">
          <input type="email" class="form-control footer-input" placeholder="tu correo electrónico"> 
          <button class="btn btn-dark btn-suscripción">Suscribir</button>
        </div>
        <!-- Footer-redes -->
        <div class="footer-redes d-flex gap-2 align-items-center mt-3">
          <!-- Cambia social-icon-pink por social-icon-footer -->
          <a href="#" target="_blank" class="social-icon-footer" aria-label="Instagram" data-store-instagram>
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.facebook.com/share/19AQKMYMHy/" target="_blank" class="social-icon-footer" aria-label="Facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" target="_blank" class="social-icon-footer" aria-label="TikTok" data-store-tiktok>
            <i class="bi bi-tiktok"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
